html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #eee;
  color: #3f4b4e;
  user-select: none;
}

button, select {
  color: inherit;
}

.container {
  box-sizing: border-box;
  padding: 2em;
  height: 100%;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 200px 1fr;
}

h1 {
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 1em;
}

canvas {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.control-row {
  margin: 1em 0;
}

.controls {
  padding-right: 2em;
}

.control {
  display: block;
  margin: 0.5em 0;
}

.control label {
  display: block;
  font-size: 0.75rem;
}

.control input, button, select {
  width: 100%;
}

/* .select {
  position: relative;
}

.select select {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.select label {
  font-size: 18px;
} */

/* .knob label {
  display: block;
  font-size: 0.75rem;
} */